@media (min-width: 768px) and (max-width: 991px) {
  header nav {
    padding: 10px 50px;
  }
  .nav-bar a {
    margin: 0 20px;
  }
  .main-body .main-content {
    top: 45%;
    left: 60px;
  }

  .product-lineup {
    padding: 18px 50px;
  }

  
  .swiper-slide .wrapper .item1,
  .item2,
  .item3 {
    height: 245px;
  }

  .footer-section img {
    height: 400px;
  }

  .footer-content {
    top: 20%;
  }
}
